name: CI

on: pull_request

jobs:
  dbt-build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744  # actions/checkout@v3
      - uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c  # actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install -r requirements.txt
          pipx install meltano && meltano install
      - name: Install dbt Dependencies
        run: dbt deps
      - name: dbt Build
        run: dbt build
